.b-basket {
    display: flex;
    height: 30px;
    line-height: 30px;
    // background: palevioletred;
    margin-top: 30px;


    &__icon,
    &__count,
    &__totalPrice {
        padding-right:6px;
    }
}