.b-header {
    // background: burlywood;
    height: 200px;
    width: 100%;

    &__logoLink {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        display: flex;
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: none;
            color: black;
        }

        &:active {
            text-decoration: none;
        }

    }

    &__logoImage {
        width: 200px;
        height: 200px;
    }

    &__logoTitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        line-height: 200px;
    }

    // &_positionFixed {
    //     position: fixed;
    // }
}